@apila:registry=http://npm.sw.veikkaus.fi/
@apilaexp:registry=http://npmexp.apila.dev.gcp.veikkaus.fi/
@gamestudio:registry=http://npm.sw.veikkaus.fi/
@gamestudioexp:registry=http://npmexp.apila.dev.gcp.veikkaus.fi/
